/* Variables */


:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --backgroud-head-line: #EEEEEE;
  --basic-dark-grey: #283136;
  --background-body: #888888;

  --basic-button-line: #FB565A;
  --red-button-hover: #E74246;
  --red-button-focus: #D7373B;

  --button-green: #00CA74;
  --green-button-hover: #00BC6C;
  --green-button-focus: #00AA62;

  --button-yellow: #EFC849;
  --yellow-button-hover: #EAB534;
  --yellow-button-focus: #E5A722;

  --social-color: #E1E1E1;
  --vector-black: #231F20;
  --vector-grey: #A6A6A6;
  --above-the-picture: #4D4D4D;
  --basic-info-grey: #666666;
  --friends-grey: #444444;
  }

  /* Global */

  body {

    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .main-header {
    margin-bottom: 0;
  }

  .main-header-logo {
    width: 160px;
    height: 66px;
  }


  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-navigation {
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: var(--backgroud-head-line);
    text-transform: uppercase;
    height: 65px;
    padding-top: 49px;

  }

  .main-navigation-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    width: 1160px;

  }

  .site-navigation {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 202px;
    margin-right: 246px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
  }
  .site-navigation-current a:not([href]) {
    background-color: var(--backgroud-head-line);
  }

  .user-navigation {

    align-items: center;
    padding-top: 12px;

  }

  .user-navigation p {
    margin-left: 25px;
  }

  .user-basket {

   display: flex;
  }


  /* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--backgroud-head-line);
}

.slider {

  margin-right: auto;
  margin-left: auto;
  padding-bottom: 75px;
  font-weight: 500;
  text-align: left;
  height: 356px;
  background-color: var(--backgroud-head-line);
}

.slide {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.slide h3 {
  margin: 0;
  padding-top: 79px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slide p {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
}

/* Buttons */

.button {
  width: 240px;
  height: 50px;
  color: var(--basic-white);
  background: var(--basic-button-line);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}


.button-slide {
  margin-top: 38px;

  width: 240px;
  height: 50px;

}

.button-red {
  width: 160px;
}

.button-green {
  width: 160px;
  background: var(--button-green);
}

.button-yellow {
  width: 160px;
  background: var(--button-yellow);
}

.connection-form-button {
  width: 259px;

  background: var(--basic-button-line);
}

.social-button {
  display: block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.form-button {

  width: 260px;
  height: 50px;
  background: var(--backgroud-head-line);
  text-transform: uppercase;
}

.page-list a:hover,
.page-list a:focus {
  background-color: var(--backgroud-head-line);
}

.page-list {
  display: flex;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
  text-decoration: none;
  grid-column-start: 2;
  grid-column-end: 4;

}

.page-list a {
  color: var(--basic-black);
}


.page-item {

  width: 50px;
  height: 50px;
  margin-right: 11px;
  margin-left: 0;
  width: 50px;

  background: var(--backgroud-head-line);
}
.page-item-active {
  background: var(--basic-white);
}

.page-item-next {
  width: 260px;
}

.button-card {
  width: 200px;
  vertical-align: bottom;
}

.button a {
  color: var(--basic-white);
}

.button a:hover {
  background-color: var(--red-button-hover);
}
.button a:focus {
  background-color: var(--red-button-focus);
}
/* Services */

.services img {
  display: block;
  width: 300px;
  height: 146px;
}
.services-about {


}


.services {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin: 80px auto 80px auto;
  width: 1160px;
  padding: 0;
  list-style: none;
  column-gap: 100px;
}

.services h3{
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.services p {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);

}
.services button {
  margin-top: 32px;
}

.services img {
display: block;
}

.about {

  display: grid;
  grid-template-columns: 651px 360px;
  margin: 80px auto 80px auto;
  column-gap: 149px;
  width: 1160px;


}

.about h3 {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
}


.about-left {
  margin-top: 80px;
}
.about-pride {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);

}

.about-pure {
margin-top: 32px;
margin-bottom: 0;;
}
.about p b {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);

}

.about-item {
  margin-top: 23px;
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-grey);

  list-style: none;
}

.about-right img {
  margin-top: 39px;
}

.about-right p {
  margin-top: 35px;
  margin-bottom: 28px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-right table {

  border-collapse: collapse;
}

.parameter {
  text-align: left;
  font-weight: bold;

  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.meaning {

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-grey);
  margin-bottom: 75px;
}

.meaning td {
  padding-top: 11px;
}


.companies {
  display: grid;
  grid-template-columns: 279px 298px 298px 279px;
  margin-top: 100px;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.companies img {

  display: block;
}

.companies a {
  margin: auto;
}

.info {
  background: var(--basic-white);
  position: absolute;
  width: 319px;
  height: 308px;
  left: 50%;
  top: 54px;
  margin-left: -580px;

}

.info-catalog {
  background: var(--basic-white);
  position: absolute;
  width: 319px;
  height: 308px;
  left: 375px;
  right: 981px;
  top: 2625px;
  bottom: 54px;
}

.info h3 {

  margin-top: 49px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 76px ;
}

.info p {

  margin-top: 23px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 39px;
}


.info button {
  width: 219px;
  height: 50px;
  margin-top: 38px;
  margin-bottom: 47px;
  margin-left: 50px;
  margin-right: 50px;
}

.point-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-black);
}

.info-contacts {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-info-grey);

}


.be-friends {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.friends {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--friends-grey);
}


.modal-connection {

  width: 760px;
  background: var(--basic-white);

}


.connection-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.connection-name{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--friends-grey);
}

.connection-item {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 9px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.connection-item-left {

width: 360px;
margin-right: 40px;

}

.connection-item-right {

width: 360px;


}

.connection-item-bottom  {

width: 100%;


}

.connection-form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 760px;
}

/* Catalog */


.catalog-container {

  display: grid;
  grid-template-columns: 360px 360px 360px;
  align-content: start;
  grid-template-rows: 50px;
  gap: 40px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;

}

.sort {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;


}

.filters {
  list-style: none;
  grid-row-start: 1;
  grid-row-end: 5;
}

.container h1 {
  margin: 0;
  padding-top: 80px;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--backgroud-head-line);
  height: 163px;

  margin-bottom: 55px;
}

.catalog-form-fieldset {
  border: none;
  font-weight: normal;
  color: var(--basic-dark-grey);
}

.catalog-form-fieldset ul {
  list-style: none;
}

.catalog-form-headline {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.radio-label, .checkbox-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;


}

.range {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-grey);
}

.range-parameter {
  width: 80px;
  height: 38px;
  background-color: var(--backgroud-head-line);
  border-radius: 3px;
}

.filter-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list:first-of-type {
  margin-left: 270px;

}

.filter-item {
  margin-right: 26px;
  color: var(--vector-grey);
}

.filter-item-active {
  color: var(--vector-black);
}

.product-card {
  margin-top: 30px;
  width: 359px;

}

.product-card h3  {
  width: 360px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 12px;
}

.product-card p  {
  width: 360px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-info-grey);

  text-align: center;
}

.product-card button {
  margin-left: 80px;
  margin-right: 80px;
}

.product-card img {

  display: block;
}


.product-card a:hover,
.product-card a:focus {
  background-color: var(--backgroud-head-line);
}

.product-banner {
  display: none;
  width: 360px;
  height: 231px;
  background-color: var(--backgroud-head-line);
}

.cart-link {
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.visually-hidden {
  display: none;
}

.footer-bar  {
  display: grid;
  grid-template-columns: 261px 1fr ;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.map {
  position: relative;
  margin-top: 80px;
  height: 416px;
  background-color: var(--basic-info-grey);
}

.catalog-map {
  margin-top: 60px;
  height: 416px;
  background-color: var(--basic-info-grey);
}

.social {
  width: 261px;
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 139px;
  margin-top: 68px;
  margin-bottom: 68px;
  padding-left: 0;
}

.footer-friends {
  margin-left: 139px;
  margin-top: 39px;
}

.be-friends {
  margin-bottom: 0;
}

.friends {

  margin-top: 10px;
}
